In [13]:
import pandas as pd

In [14]:
import numpy as np

In [15]:
import matplotlib.pyplot as plt

In [16]:
import seaborn as sns

**Import** **Dataset**

In [17]:
df = pd.read_csv('/content/Womens Clothing E-Commerce Reviews.csv')

In [18]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [20]:
df.shape

(23486, 11)

**Missing values**

In [21]:
df.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [22]:
df[df['Review Text']==""]=np.NaN

In [23]:
df['Review Text'].fillna("No Review",inplace=True)

In [24]:
df.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                   0
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [25]:
df['Review Text']

0        Absolutely wonderful - silky and sexy and comf...
1        Love this dress!  it's sooo pretty.  i happene...
2        I had such high hopes for this dress and reall...
3        I love, love, love this jumpsuit. it's fun, fl...
4        This shirt is very flattering to all due to th...
                               ...
23481    I was very happy to snag this dress at such a ...
23482    It reminds me of maternity clothes. soft, stre...
23483    This fit well, but the top was very see throug...
23484    I bought this dress for a wedding i have this ...
23485    This dress in a lovely platinum is feminine an...
Name: Review Text, Length: 23486, dtype: object

**Define Target (y) and Feature (X)**

In [26]:
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [27]:
X = df['Review Text']

In [28]:
y = df['Rating']

In [29]:
df['Rating'].value_counts()

5.0    13131
4.0     5077
3.0     2871
2.0     1565
1.0      842
Name: Rating, dtype: int64

**Train Test Split**

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.7, stratify= y, random_state=192529)

In [32]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((7045,), (16441,), (7045,), (16441,))

**Get Feature text Conversion to Tokens**

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
cv=CountVectorizer(lowercase=True,analyzer='word',ngram_range=(2,3),stop_words='english',max_features=5000)

In [35]:
X_train = cv.fit_transform(X_train)

In [42]:
cv.get_feature_names_out()

array(['0p fit', '10 12', '10 bought', ..., 'years come', 'years old',
       'yoga pants'], dtype=object)

In [40]:
X_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [41]:
X_test=cv.fit_transform(X_test)

In [44]:
cv.get_feature_names_out()

array(['0p fit', '10 12', '10 bought', ..., 'years come', 'years old',
       'yoga pants'], dtype=object)

In [45]:
X_test.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

**Get** **Model** **Train**

In [46]:
from sklearn.naive_bayes import MultinomialNB

In [48]:
model=MultinomialNB()

In [49]:
model.fit(X_train,y_train)

MultinomialNB()

**Get Model Prediction**

In [50]:
y_pred=model.predict(X_test)

In [51]:
y_pred.shape

(16441,)

In [52]:
y_pred

array([2., 1., 4., ..., 5., 1., 5.])

**Get Probability of Each Predicted Class**

In [53]:
model.predict_proba(X_test)

array([[0.0285115 , 0.40297977, 0.39504858, 0.05429341, 0.11916673],
       [0.44786998, 0.08375679, 0.20426459, 0.24295617, 0.02115247],
       [0.04364173, 0.0466187 , 0.18370527, 0.64100677, 0.08502753],
       ...,
       [0.04361034, 0.04075553, 0.23674781, 0.25574272, 0.4231436 ],
       [0.57327931, 0.02953636, 0.0455293 , 0.3405152 , 0.01113982],
       [0.16735212, 0.12069266, 0.0091418 , 0.13335027, 0.56946316]])

**Get Model** **Evaluation**

In [54]:
from sklearn.metrics import confusion_matrix,classification_report

In [55]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         1.0       0.03      0.08      0.04       589
         2.0       0.07      0.11      0.09      1096
         3.0       0.13      0.14      0.14      2010
         4.0       0.22      0.18      0.20      3554
         5.0       0.58      0.50      0.54      9192

    accuracy                           0.35     16441
   macro avg       0.21      0.20      0.20     16441
weighted avg       0.40      0.35      0.37     16441

In [56]:
print(confusion_matrix(y_test,y_pred))

[[  48   54   85  119  283]
 [ 104  126  158  233  475]
 [ 186  243  290  394  897]
 [ 356  434  487  650 1627]
 [ 972  933 1153 1554 4580]]

**Recategories Ratings as Poor(0) and Good(1)**

In [57]:
df.replace({'Rating':{1:0,2:0,3:0,4:1,5:1}},inplace=True)

In [58]:
y=df['Rating']

In [60]:
X=df['Review Text']

**Train Test Split**

In [62]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test= train_test_split(X,y,train_size=0.7,stratify=y,random_state=2529)

In [66]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16440,), (7046,), (16440,), (7046,))

**Get Feature Text Conversion to Tokens**

In [67]:
from sklearn.feature_extraction.text import CountVectorizer

In [71]:
cv=CountVectorizer(lowercase=True,analyzer='word',ngram_range=(2,3),stop_words='english',max_features=5000)

In [72]:
X_train=cv.fit_transform(X_train)

In [73]:
X_test=cv.fit_transform(X_test)

**Get Model Re-Train**

In [74]:
from sklearn.naive_bayes import MultinomialNB

In [75]:
model=MultinomialNB()

In [76]:
model.fit(X_train,y_train)

MultinomialNB()

**Get Model Prediction**

In [77]:
y_pred=model.predict(X_test)

In [78]:
y_pred.shape

(7046,)

In [79]:
y_pred

array([1., 1., 1., ..., 1., 1., 1.])

**Get Model Evaluation**

In [80]:
from sklearn.metrics import confusion_matrix,classification_report

In [81]:
print(confusion_matrix(y_test,y_pred))

[[ 449 1134]
 [ 989 4474]]

In [82]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.31      0.28      0.30      1583
         1.0       0.80      0.82      0.81      5463

    accuracy                           0.70      7046
   macro avg       0.56      0.55      0.55      7046
weighted avg       0.69      0.70      0.69      7046